header {
    padding: 30px 0;
    background: #f5f5f5;
}

header .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
  
header .profile-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    align-self: flex-end;
}

header .header-content {
    flex-grow: 1;
    display: flex;
}
  
header .header-details {
    padding-left: 30px;
    align-self: flex-end;
    flex-grow: 1;
}
  
  
header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #49515a;
    margin: 30px 0 0;
}
  
header h2 {
    color: #778492;
    font-family: "Lato", arial, sans-serif;
    font-weight: 400;
    font-size: 24px;  
    margin: 0;
}
  
header ul.social-icons {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}

header ul.social-icons > li {
    display: inline-block;    
}

header ul.social-icons > li i {
    color: #778492;
    font-size: 36px;
    margin-right: 30px;
    margin-bottom: 0px;
}
  
header .contact-me {
    align-self: flex-end;
    max-height: 50px;
    font-weight: 800;
}

header .contact-me i {
    margin-right: 5px;
}